---
import { Image } from "astro:assets";

interface Props {
  title: string;
  icon: any;
  organizer: string;
  message: string;
}

const { title, icon, organizer, message } = Astro.props;
---

<!--<div class="flex justify-center mt-20">-->
<div class="my-4 w-full rounded-3xl bg-white bg-opacity-10 p-6 lg:p-10">
  <p class="text-4xl">{title}</p>
  <div class="lg:flex">
    <div class="m-4">
      <Image src={icon} alt={organizer} class="w-[200px] rounded-full" />
    </div>
    <div class="w-full">
      <p class="text-2xl">{organizer}</p>
      <p class="mt-8 w-full text-lg">{message}</p>
    </div>
  </div>
</div>
<!--</div>-->
